/*Global*/

html {
  font-size: 14px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}


/*Typography*/

body {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  line-height: 2.25rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.8rem;
}


/*Header*/

header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  background-color: black;
}

.logo {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
}

header h4 {
  margin: auto 10px;
  letter-spacing: 0.15em;
  font-weight: lighter;
}

header img {
  height: 35px;
  width: 50px;
  margin: auto 10px;
}


/*Hero*/

.hero {
  background-image: url("../img/moto.jpeg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 30em;
}

.overlay {
  width: 20em;
  padding: 3em;
  margin: 12em 0 12em 10%;
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  background-color: black;
}

.overlay h4 {
  margin-bottom: 2em;
}


/*Menu*/

.shop {
  height: 60em;
}

.categories, .categories-mobile {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: firebrick;
}

.categories ul li, .categories-mobile ul li {
  padding: 1em;
  margin: 1em;
  display: inline-flex;
  list-style: none;
  flex: 1 auto;
}

.categories ul li a, .categories-mobile ul li a {
  color: white;
  text-decoration: none;
}

.categories ul li a h3, .categories-mobile ul li a h3, .description h3 {
  font-weight: lighter;
  font-size: 1.125rem;
  letter-spacing: 0.25em;
}


/*Shop*/

.container {
  max-width: 90%;
  margin: 4em auto 0 auto;
}

.gadgets {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-end;
}

.gadget {
  margin: 2em auto;
}

.gadget .image {
  border: 4px solid black;
  padding: 2em 0;
  height: 12em;
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gadget .image img {
  max-width: 12em;
}

.description h3 {
  text-align: center;
  padding: 1em;
  margin: auto;
  background-color: black;
  color: white;
}


/*Information*/

.information {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
}

.information .section {
  border: 4px solid black;
  clear: both;
  margin: 5.2em;
  width: 20em;
}

.information .section p {
  padding: 1em;
  text-align: center;
  display: block;
  margin: 0 auto;
}


/*Footer*/

footer {
  margin-top: 2em;
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  background-color: black;
}

footer p {
  color: white;
  float: left;
  text-align: left;
  margin: auto 10%;
}


/*Queries*/

.categories-mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  header h4 {
    font-size: 1.3em;
  }
  .categories-mobile {
    display: flex;
  }
  .categories {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  footer p {
    float: none;
    text-align: center;
    margin: auto auto;
  }
  header h4 {
    display: none;
  }
  header img {
    height: 35px;
    width: 50px;
    margin: auto auto;
    display: block;
  }
}


/**/
